.container {
  background-color:aquamarine;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 5fr 1fr / 1fr 6fr;
  gap: 10px;
  grid-template-areas:
  "header header"
  "nav content"
  "footer footer"
  ;
}

.header {
  background-color:aliceblue;
  grid-area: header;
}

.nav {
  background-color:antiquewhite;
  grid-area:nav;
}

.content {
  background-color:aqua;
  grid-area:content;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  gap: 10px;
  grid-template-areas:
  "orderinfo userinfo"
  "ordersummary contactsummary"
  "billingaddresses shippingaddresses"
  "orderdetails orderdetails"
  ;
}

.orderinfo {
  display:flex-start;
  background-color:blue;
  grid-area: orderinfo;
}

.userinfo {
  background-color:antiquewhite;
  grid-area:userinfo;
}

.ordersummary {
  background-color:brown;
  grid-area:ordersummary;
}

.contactsummary {
  background-color:bisque;
  grid-area:contactsummary;
}

.billingaddresses {
  background-color:blueviolet;
  grid-area:billingaddresses;
}

.shippingaddresses {
  background-color:azure;
  grid-area:shippingaddresses;
}

.orderdetails {
  background-color:blanchedalmond;
  grid-area:orderdetails;
}

.footer {
  background-color:beige;
  grid-area:footer;
}