.container {
  background-color:#F6F8FA;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 10fr 1fr / 1fr 27.5fr;
  gap: 2.5px;
  grid-template-areas:
  "nav header"
  "nav content"
  "footer footer"
  ;
}

.header {
  grid-area: header;
}

.nav {
  grid-area:nav;
}

.content {
  grid-area:content;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr 1.5fr 1fr / 1fr 1fr;
  gap: 10px;
  grid-template-areas:
  "orderinfo userinfo"
  "ordersummary contactsummary"
  "billingaddresses shippingaddresses"
  "orderdetails orderdetails"
  ;
}

.orderinfo {
  display:flex-start;
  grid-area: orderinfo;
}

.userinfo {
  grid-area:userinfo;
}

.ordersummary {
  grid-area:ordersummary;
}

.contactsummary {
  background-color:bisque;
  grid-area:contactsummary;
}

.billingaddresses {
  grid-area:billingaddresses;
}

.shippingaddresses {
  grid-area:shippingaddresses;
}

.orderdetails {
  grid-area:orderdetails;
}

.footer {
  grid-area:footer;
}